---
http_interactions:
- request:
    method: post
    uri: https://monitoring.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=PutMetricData&MetricData.member.1.MetricName=AbstractMetric&MetricData.member.1.Unit=Count&MetricData.member.1.Value=1.0&Namespace=Test&Version=2010-08-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200120T034802Z
      X-Amz-Content-Sha256:
      - 8e875c52ff6b900ec88cb1b63a8ed733daa305d34b5e64df1e27c1214527bca4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20200120/ap-southeast-2/monitoring/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=02f0abd53b593e6cd1f7bdf19c91425e4f96042151640bcc0a4a54147f7e8e81
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 0eae7c66-e642-4df5-bcd8-c2ab8bff7ea4
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <PutMetricDataResponse xmlns="http://monitoring.amazonaws.com/doc/2010-08-01/">
          <ResponseMetadata>
            <RequestId>0eae7c66-e642-4df5-bcd8-c2ab8bff7ea4</RequestId>
          </ResponseMetadata>
        </PutMetricDataResponse>
  recorded_at: Mon, 20 Jan 2020 03:48:04 GMT
recorded_with: VCR 5.0.0
